article.subscribe form {
  margin-bottom: 21px;
}

article.subscribe h1 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 8px;
  font-weight: 400;
}

article.subscribe p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 12px;
}

article.subscribe form p {
  margin-bottom: 24px;
}

.subscribe form input {
  display: block;
  width: 100%;
  margin: 10px auto;
  max-width: 294px;
}

.subscribe input {
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #D5D5D5;
  background: #fff;
  box-sizing: border-box;
  font-size: 14px;
}

.subscribe form button {
  cursor: pointer;
  background: #f60;
  color: #fff;
  border: none;
  height: 36px;
  line-height: 36px;
  padding: 0 8px;
  display: block;
  width: 100%;
  margin: 10px auto;
  max-width: 294px;
}
